---
const { image, title, price, link } = Astro.props;
---

<a href={link} class="block mx-[100px]">
  <div class="overflow-hidden rounded-xl transition-transform hover:scale-105 duration-300">
    <img src={image} alt={title} class="w-full aspect-square object-cover rounded-xl shadow-md" />
  </div>
  <div class="flex justify-between items-center mt-2 px-1">
    <h2 class="text-[#30475E] font-jockey text-lg">{title}</h2>
    <span class="text-[#121212] font-livvic text-base">{price}</span>
  </div>
</a>
